archive/
.*-items
data/*solutions.txt
data/*1/*
TAGS
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
.#*
\#*\#
foo.js
foo
TAGS
test/cli/data/testData
.build/commit.log
lib/schema.js
package-lock.json
mail*
test_space*
